__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.idea/
.vscode/
.deps/

build/
dist/
output/
installer/
*.egg-info/
*.spec

*.log
*.tmp
*.bak

Longitude.ini
AstroClocks.ini
astroclocks/AstroClocks.ini
